* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font style {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
button:hover {
  background-color: rgb(6, 247, 247);
}
.id {
  display: flex;
  margin: 0 auto;
  width: 1600px;
  height: 92px;
  align-items: center;
  justify-content: space-between;
}
.btm {
  background-color: #30b868;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
  gap: 10px;
  border: none;
  cursor: pointer;
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 360px;
  right: 24px;
  line-height: 32px;
  gap: 32px;
}
.part2 {
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 674px;
  margin: 0 auto;
  text-align: center;
  background: url("./assets/hero-bg.png");
  display: flex;
  margin-bottom: 20px;
  line-height: 1.5;
}
.btn-green {
  background-color: #30b868;
  font-size: 16px;
  padding: 12px 16px;
  gap: 10px;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn-outline {
  font-size: 16px;
  padding: 12px 16px;
  gap: 10px;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0);
}
.hlw {
  color: #30b868;
}
.hi {
  color: #30b868;
  font-display: block;
  background-color: white;
  padding: 8px 12px;
  border-radius: 1000px;
}

.card {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}
.card h2 {
  font-size: 48px;
  color: #001931;
}
.card p {
  padding-top: 20px;
  font-size: 16px;
  color: #627382;
}
.card-list img {
  width: 60px;
  border-radius: 10px;
  background-color: #f95555;
  background-size: 60px 60px;
  padding-top: 30px;
}
.card-list {
  max-width: 1360px;
  width: 1360px;
  height: 320px;
  border: 1px solid red;

  display: flex;
  margin: 0 auto;

  padding-top: 44px;
  gap: 24px;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 10px rgb(167, 166, 166);
}
.card-list h3 {
  font-size: 24px;
  font-style: bold;
  padding-top: 16px;
  background-color: white;
}
.card-list img {
  padding: 4px 4px;
  margin: none;
  border-radius: 100%;
}
.card-list p {
  font-size: 16px;
  font-style: normal;
  padding-top: 16px;
  text-align: center;
  max-height: 300px;
  background-color: rgb(252, 249, 249);
  max-width: 320px;
}

.part4 {
  background-size: cover;
  margin: 0 auto;
  max-width: 1360px;
  border: 1px solid red;
  display: flex;
  gap: 60px;
  padding: 20px;
}
.feature-checklist {
  list-style-type: none;
}
.subheadline {
  color: #30b868;
  font-style: normal;
  font-size: 16px;
}
.section h2 {
  color: black;
  font-style: bold;
  font-size: 48px;
}
.section p {
  color: #627382;
  font-style: normal;
  font-size: 20px;
}
.button {
  background-color: #30b868;
  font-size: 16px;
  padding: 8px 12px;
  gap: 10px;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.note p {
  color: #627382;
  font-style: normal;
  font-size: 20px;
}
.note h2 {
  color: black;
  font-style: bold;
  font-size: 48px;
}
.note {
  margin: 0 auto;
  max-width: 1360px;
  align-items: center;
  line-height: 1.5;
}
